<div class="container">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <app-form1></app-form1>
  <app-form2></app-form2>
  <app-form3></app-form3>
  <app-new-form3></app-new-form3>
 <app-show-current-users></app-show-current-users>

 <nav>
  <ul>
    <li><a routerLink="/form1">Go to Form1</a></li>
    <li><a routerLink="/ListPeople">List all the people</a></li>
    <li><a routerLink="/Home">Home</a></li>
    <li><a routerLink="/About">About</a></li>

  </ul>
</nav>
 <router-outlet></router-outlet>
  <!-- Edit to pass the first element of the people array into form 3-->
 
  <!-- The first element  -->
  <form [formGroup]="newForm3" (ngSubmit)="onSubmit()"  >

  <div class="form-group">
    <label> Person 1</label>
    <p class="form-control">{{this.people[0]}}</p>
  </div>

  </form>
</div>
